/* About page */

/* Hero Image About page */

.hero-image-about {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  margin: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/me.jpg");

  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: 40% 30%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 500px;
}

/* Main About Content, adds border around page */
.about-wrap {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  justify-content: center;
  border: 2px dashed black;
  text-align: center;
}

.about-me-content {
  padding: 0 30px;
}

.me-pic {
  text-align: center;
}

.me-pic img {
  width: 60%;
  margin: auto;
  padding: 10px;
}

@media screen and (min-width:771px) {
  .me-pic img {
    width: 40%;
  }
}

@media screen and (min-width: 850px) {
  .about-wrap {
    flex-direction: row;
    text-align: left;
  }

  .me-pic img {
    width: 80%;
  }
}

@media screen and (min-width: 1200px) {
  .hero-image-about {
    padding-top: 600px;
  }
}

@media screen and (min-width: 2560px) {
  .hero-image-about {
    padding-top: 800px;
  }
}