/* Override header and page settings from main */

header a.icon {
  color: #d4dbe1;
  background: #744431;
}

a {
  color: #1c3a38;
}

a:hover {
  color: #744431;
}

header {
  background-color: #744431;
}

header h1{
  color: #d4dbe1;
}

.nav-menu li a {
  color: #d4dbe1;
  text-decoration: none;
}

.nav-menu a:hover{
  color: #b4a7a2;
}

/* Add custom button styles */


.back-button {
  color: #edebeb;
  text-decoration: none;
  background-color: #1c3a38;
  font-size: 17px;
}

.back-button:hover {
  background-color: #345e63;
  color: #edebeb;
}

/* lyrics styles */

.lyrics {
  text-align: center;
}

.chorus {
  color: #4d2719;
}