/* Hero Image for CV page */

.hero-image-cv {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  margin: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/grand_canyon.JPG");

  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 500px;
}

.hero-text {
  width: 90%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: #E3E3E3;
}

.cv-content {
  padding: 0 10px;
}

/* Main box that appears before boxes of content */
.cv-intro {
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 20px;
  width: 75%;
  text-align: center;
  border: 3px dotted black;
}

/* Arrange info boxes in one column */
.cv-box-wrap {
  display: flex;
  flex-direction: column;
}

.cv-box {
  padding: 5px;
  text-align: center;
  border: 3px solid black;
}

/* Add spacing between boxes, except for last one */
.cv-box:not(:last-child) {
  margin-bottom: 10px;
}

@media screen and (min-width:771px) {
  /* Allow boxes to be in rows now */
  .cv-box-wrap {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .cv-box {
    width: 45%;
  }
}

@media screen and (min-width: 1200px) {
  .cv-intro {
    width: 50%;
  }

  .hero-image-cv {
    padding-top: 600px;
  }

  .cv-box {
    width: 30%;
  }
}