/* Override header and page settings from main */

header a.icon {
  color: #d4dbe1;
  background: #4d807a;
}

a {
  color: #436825;
}

a:hover {
  color: #965612;
}

header {
  background-color: #4d807a;
}

header h1{
  color: #d4dbe1;
}

.nav-menu li a {
  color: #d4dbe1;
  text-decoration: none;
}

.nav-menu a:hover{
  color: black;
}

/* Add custom button styles */

.back-button {
  color: black;
  background-color: #b95637;
  text-decoration: none;
  font-size: 17px;
}

.back-button:hover {
  color: black;
  background-color: #43cfad;
}

/* Change color of chorus */

.chorus {
  color: #4d807a;
}

@media screen and (max-width: 860px) {
  .nav-menu a:hover{
    color: rgb(149, 149, 149);
  }
}