:root {
  font-family: Georgia, Garamond, 'Times New Roman', Times, serif;
}

/* Styles for mobile navigation menu */
/* Everything here turns original menu into mobile */
/* Removing this style will revert back to original menu (for desktops) */
.nav-menu-mobile {
  display: inline-flex;
  flex-direction: column;
  position: fixed;
  transform: translateX(200%);
  transition: transform 0s;
  width: 50%;
  padding: 7px 3px;
  z-index: 99;
  background: black;
  list-style: none;
  text-align: center;
  width: 50%;
  height: 100%;
  margin-top: 30px;
}

/* Move the menu from way off the page to viewable */
.showMenu {
  transform: translateY(0);
  right: 0;
  margin-top: 20px;
}

/* Style the hamburger and close icon */
header a.icon {
  background: black;
  display: block;
  float: right;
  margin: auto;
  margin-right: 5%;
  color: #EA89DC;
  cursor: pointer;
}

/* main header */

/* header background and position */
header {
  background-color: black;
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  height: 15%;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
}

.nav-menu * {
  display: inline;
}

/* By default, the hamburger and close icons are not displayed */
.icon {
  display: none;
}

.nav-menu li {
  font-size: 22px;
  margin: 20px;
}

.nav-menu li a {
  color: #E3E3E3;
  text-decoration: none;
}

.nav-menu a:hover {
  color: #EA89DC;
}

header h1 a {
  margin-left: 20px;
  color: #099392;
  font-size: 40px;
  text-decoration: none;

}

h1 a:hover {
  color: #099392;
  /* cursor: default; */
}

/* Bold header link for active page */
.active-page {
  font-weight: bold;
  color: #EA89DC;
}

.icon .close {
  display: none;
}



/* Main Content */

.italics-title {
  font-style: italic;
}

.home-wrap {
  display: flex;
  border: 2px dashed black;
  flex-direction: column;

}

#real-life {
  padding-bottom: 15px;
}

body {
  margin: 0px;
  padding: 0px;
}

/* Remove underlines from abbreviations */
abbr {
  text-decoration: none;
}

a {
  color: #5e0053;
}

a:hover {
  color: #097563;
}

/* Skip to main content button */
.skip-link {
  background: black;
  color: #e3e3e3;
  font-weight: 700;
  left: 50%;
  padding: 4px;
  position: absolute;
  transform: translateY(-400%);
  transition: 0.3s;
}

/* Move skip button to viewable window when active */
.skip-link:focus {
  transform: translateY(0%);
}

main {
  background-color: #b0b0b0;
  padding: 20px;
  font-size: 18px;
}

/* Hero Image for home page */

.hero-image-home {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  margin: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/me_bw.jpg");

  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: 45% 30%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 500px;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #e3e3e3;
  width: 70%;
}

.hero-text h1 {
  font-size: 70px;
  color: #E3E3E3;
}


/* The "Hey There" part */

.tagline {
  font-size: 35px;
  color: #e3e3e3;
  margin-top: -30px;
}

.home-welcome {
  display: block;
  font-size: 20px;
  font-weight: bold;
  margin-top: -15px;
}

.home-content h1 {
  font-size: 50px;
}

.home-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 90%;
  margin: auto;
  margin-top: -20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 10px;
}




.home-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.home-pic img {
  width: 80%;
}



/* 404 page styles */

.access-content {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 60px;
}


.error-content {
  text-align: center;
  padding: 50px;
  margin-top: 30px;
}

/* Giant return to home button */
.error-content a {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 230px;
  height: 100px;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  border-style: solid;
  border: 2px solid black;
  border-radius: 5px;
  background-color: black;
  color: #187aa4;
}

.error-content a:hover {
  color: #097563;
}


/* Footer Styles */

footer {
  background-color: #8a8a8a;
  padding: 10px;
}

/* The text explaining that this site is by me / copyright and all that */
.footer-intro {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
  padding-top: 7px;
  text-align: center;
}

/* Links under the icons...make them inline and horizontal */

.footer-links, .footer-links li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  top: 0;
  width: 100%;
}

.footer-links ul {
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 0;
}

.footer-links li {
  list-style: none;
  padding: 0 10px;
}

.footer-links a {
  color: #420051;
  text-decoration: none;
}

.footer-links a:hover {
  color: #005073;
}



/* Social Media Icons */
.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;  
}

/* Specific icon styles */

.fa {
  width: 30px;
  height: 30px;
  text-decoration: none;
  background-color: #313131 !important;
  text-align: center;
  border-radius: 10px;
  padding: 5px;
}

.fa-linkedin {
  color: #0077B5;
  margin-right: 10px;
}

.fa-linkedin:hover {
  opacity: 0.7;
  color: #0077B5;
}

.fa-instagram {
  background: #313131;
  background: -webkit-radial-gradient(33% 100% circle, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 100%, #515ECF);
    background: radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.instagram-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #313131;
  border-radius: 10px;
  margin-right: 10px;
}

.instagram-wrap:hover {
  opacity: .7;
  cursor: pointer;
}

.fa-spotify {
  color: #1DB954;
  margin-right: 10px;
}

.fa-spotify:hover {
  opacity: 0.7;
  color: #1DB954;
}

.apple-music {
  margin-right: 10px;
}

.apple-music img{
  display: block;
  max-width: 100%;
}

.apple-music:hover {
  color: #c2cad7;
  opacity: .7;
}

.fa-youtube {
  color: #FF0000;
  padding-right: 6px;
}

.fa-youtube:hover {
  color: #FF0000;
  opacity: .7;
}

@media screen and (min-width:771px) {
  
  header a.icon {
    display: none;
  }

  .home-pic img {
    width: 50%;
  }
  
}

@media screen and (min-width: 850px) {
  .home-wrap {
    flex-direction: row;
  }

  .home-pic img {
    width: 200px;
    padding: 20px;
  }

  #real-life {
    padding: 0;
  }
}

@media screen and (min-width: 1024px) {
  .home-pic img {
    width: 300px;
  }

  #real-life {
    padding: 0;
  }
}

@media screen and (min-width: 1200px) {
  .hero-image-home {
    padding-top: 600px;
  }

  #real-life {
    padding: 0;
  }
}

@media screen and (min-width: 2560px) {
  .home-pic img {
    width: 500px;
  }

  .skip-link {
    transform: translateY(-500%);
  }

  .hero-image-home {
    padding-top: 800px;
  }

  header {
    height: 10%;
  }

  #real-life {
    padding: 0;
  }
}