.mflbupdate {
  display: block;
  width: 500px;
  text-align: center;
  margin: auto;
  border-style: dashed;
  border: 3px dashed black;
  border-color: #820c0c;
}

/* Override header and page settings from main */

header a.icon {
  color: #e6e6e6;
  background: rgb(84, 84, 84);
}

a {
  color: #820c0c;
}

a:hover {
  color: black;
}

header {
  background-color: rgb(84, 84, 84);
}

.nav-menu li a {
  color: #e6e6e6;
  text-decoration: none;
}

.nav-menu a:hover{
  color: black;
}

/* Add custom button styles */

.back-button {
  background-color: black;
  color: #edebeb;
  text-decoration: none;
  font-size: 17px;
}

.back-button:hover {
  color: #edebeb;
  background-color: #707070;
}

/* lyrics styles */

.lyrics {
  text-align: center;
}

.chorus {
  color: #820c0c;
}

@media screen and (max-width: 860px)  {
  .nav-menu a:hover{
    color: rgb(149, 149, 149);
  }
}