main {
  padding-top: 100px;
}

header h1 a {
  color: #e3e3e3;
}

header h1 a:hover {
  color: #e3e3e3;
}

h1 {
  text-align: center;
}

.hero-image-music {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  margin: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/me_live.JPG");

  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: 50% 40%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 500px;
}

.yep {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

/* Main music page album art grid */

.album-art-wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.album-art-wrap a {
  display: inline-block;
  padding: 3px;
}

.album-art-wrap img {
  width: 250px;
}


.music-container {
  display: flex;
}

.music-sidebar {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: 30px;
  text-align: center;
}

.music-sidebar-box {
  border: 2px solid black;
  border-radius: 5px;
  padding: 15px;
}

.about-music h1 {
  text-align: center;
}

.about-music {
  /* padding-right: 20px; */
  margin-right: 35px;
  width: 90%;
}




/* individual track pages */
.track-container {
  display: flex;
}

.back-to-album {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: 30px;
  text-align: center;
}

.about-track h1 {
  text-align: center;
}

.about-track {
  padding-right: 20px;
  margin-right: 35px;
}

.back-to-album img {
  height: 300px;
}

.lyrics {
  padding-top: 15px;
}

.back-button {
  padding: 14px 14px;
  margin: auto;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 30px;
  text-align: center;
  border-style: solid;
  border: 2px solid black;
  border-radius: 5px;
}

.spotify-play {
  padding-top: 15px;
  padding-bottom: 3px;
}

@media screen and (max-width: 935px) {
  .album-art-wrap {
    flex-direction: row;
  }
}

@media screen and (max-width: 860px) and (min-width: 481px) {

  .track-container {
    flex-direction: column;
  }
}


@media screen and (max-width: 1000px) and (min-width: 481px) {
  .music-container {
    flex-direction: column;
  }

  .music-sidebar {
    width: 60%;
  }

}