main {
  padding-top: 80px;
}

header h1 a {
  color: #e3e3e3;
}

header h1 a:hover {
  color: #e3e3e3;
}

h1 {
  text-align: center;
}

.hero-image-music {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  margin: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/me_live.JPG");

  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: 50% 40%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 500px;
}

.music-container {
  display: flex;
  flex-direction: column;
}

.yep {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.about-music {
  padding-left: 20px;
  padding-right: 20px;
  width: 95%;
}

.music-text {
  text-align: center;
}

/* Main music page album art grid */

.album-art-wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  flex-basis: content;
  justify-content: center;
  align-items: center;
  
}

.album-art-wrap a {
  display: inline-block;
  padding: 3px;
}

.album-art-wrap img {
  width: 250px;
}

.music-sidebar {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: 30px;
  text-align: center;
}

.music-sidebar-box {
  border: 2px solid black;
  margin: auto;
  border-radius: 5px;
  padding: 15px;
  width: 50%;
}

.about-music h1 {
  text-align: center;
}




/* individual track pages */

h2 {
  text-align: center;
  font-size: 20px;
  margin-top: -10px;
}

.track-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 15px;
}

.back-to-album {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: 30px;
  text-align: center;
}

.back-to-album img {
  height: 250px;
}

/* Track Listing styles */

.track-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.track-list ol {
  display: inline-block;
}

.track-list li {
  padding-bottom: 5px;
}

.lyrics {
  padding: 0 15px;
  padding-top: 15px;
  text-align: center;
}

.back-button {
  padding: 14px 14px;
  margin: auto;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 30px;
  text-align: center;
  border-style: solid;
  border: 2px solid black;
  border-radius: 5px;
}

.spotify-play {
  padding-top: 15px;
  padding-bottom: 3px;
}

@media screen and (min-width: 1024px) {

  .about-music {
    text-align: left;
    padding: 0 20px;
  }

  .music-container {
    flex-direction: row;
  }

  .music-sidebar-box {
    width: 80%;
  }

  .track-container {
    flex-direction: row;
  }

  .about-track {
    text-align: left;
    padding: 0 20px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-image-music {
    padding-top: 600px;
  }

  main {
    padding-top: 100px;
  }

  .about-track{
    width: 70%;
  }

  .back-to-album img {
    width: 350px;
    height: 350px;
  }
}

@media screen and (min-width: 2560px) {
  .album-art-wrap {
    padding-top: 20px;
  }

  .hero-image-music {
    padding-top: 800px;
  }

  .track-container {
    margin-top: 80px;
  }

  .back-to-album img {
    width: 400px;
    height: 400px;
  }

  .back-button {
    width: 250px;
    height: 50px;
  }
}