main {
  background-color: #b0b0b0;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-top: 100px;
}

/* Main music page album art grid */
.art-row {
  display: flex;
  width: 910px;
  justify-content: space-between;
}

.art-column {
  flex: 33.33%;
  padding: 5px;
  padding-right: 20px;
  float: left;
}

.art-row img {
  width: 300px;
  height: 300px;
}

.sidebar-wrapper {
  height: 650px;
}


/* individual track pages */
.track-container {
  display: flex;
}

.back-to-album {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: 30px;
  text-align: center;
}

.about-track {
  padding-right: 20px;
  margin-right: 35px;
  /* border-style: solid;
  border: none;
  border-right: 2px solid black; */
}

.back-to-album img {
  height: 300px;
  width: 300px;
}

.back-to-album button {
  border-style: solid;
  border: 2px solid black;
  border-radius: 5px;
  padding: 14px 14px;
  margin-top: 5px;
}

/* .buttons button {
  border: 1px solid black;
  color: black;
  padding: 20px 24px;
  cursor: pointer;
  width: 20%;
  display: block;
  font-size: 20px;
  margin: auto;
  border-radius: 7px;
}

button + button {
  margin-top: 5px !important;
}

#button-spotify {
  background-color: #1DB954;
}

#button-apple {
  background-color: #fa57c1;
}

#button-youtube{
  background-color: #FF0000;
}

#button-deezer{
  background-color: #00c7f2;
}

.buttons button:hover {
  background-color: gray;
} */