/* CSS for the individual pages */

main {
  padding-top: 100px
}

h1 {
  text-align: center;
}

.port-item {
  background-color: #c5c5c5;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 10px;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
}

.port-item h2 {
  max-width: 95%
}

.port-item img {
  width: 50%;
  max-width: 200px;
  margin: auto;
}

.model-box {
  color: black;
  text-decoration: none;
  background: #c5c5c5;
}

.model-box:hover {
  background-color: #d0d0d0;
  color: black;
}


.proj-year {
  margin-top: -30px;
  font-size: 30px;
}

.proj-role {
  margin-top: -40px
}

.proj-mentor {
  margin-top: -30px;
  max-width: 80%
}

.proj-info {
  margin-top: -10px;
  max-width: 90%
}

@media screen and (min-width: 768px) {
  .port-item-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .port-item {
    width: 47%;
  }
}

@media screen and (min-width: 1024px) {

  main {
    padding-top: 130px;
    font-size: 20px
  }

  main h1 {
    font-size: 60px
  }

  .port-item h2 {
    font-size: 30px
  }

  .proj-year {
    font-size: 35px
  }

}

@media screen and (min-width: 2000px) {

  main {
    padding-top: 200px;
    font-size: 30px
  }

  main h1 {
    font-size: 80px
  }

  .port-item h2 {
    font-size: 50px
  }

  .proj-year {
    font-size: 45px
  }

}