/* Hero Image for CV page */

.hero-image-portfolio {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  margin: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/sunrise.jpg");

  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 550px;
}

.portfolio-box-wrap {
  display: flex;
  flex-direction: column;
  columns: 1;
}

.portfolio-box {
  margin-top: 5px;
  text-align: center;
  border: 3px solid black;
  width: 90%;
  align-self: center;
}

.portfolio-box:hover {
  background-color: #c5c5c5;
}

/* Add spacing between boxes, except for last one */
/* .portfolio-box:not(:last-child) {
  margin-bottom: 10px;
} */

/* Correct hero text for screen sizes smaller than 425px */
@media screen and (max-width:425px) {
  
  .hero-text h1{
    font-size: 45px
  }

}

@media screen and (min-width:771px) {
  /* Allow boxes to be in rows now */
  .portfolio-box-wrap {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .portfolio-box {
    width: 48%;
  }
}

@media screen and (min-width: 1200px) {
  .hero-image-portfolio {
    padding-top: 600px;
  }

  .portfolio-box {
    width: 48%;
  }
}