/* Override header and page settings from main */

header a.icon {
  color: #d4dbe1;
  background: #474a4f;
}

a {
  color: #80441a;
}

a:hover {
  color: #574f4c;
}

header {
  background-color: #474a4f;
}

header h1{
  color: #d4dbe1;
}

.nav-menu li a {
  color: #d4dbe1;
  text-decoration: none;
}

.nav-menu a:hover{
  color: #cc7a35;
}

.about-track li {
  text-align: left;
  padding-bottom: 3px;
}



/* Add custom button styles */

.back-button {
  background-color: #a26932;
  color: black;
  text-decoration: none;
  font-size: 17px;
}

.back-button:hover {
  color: black;
  background-color: #d68438;
}


/* Change color of chorus */

.chorus {
  color: #80441a;
}

/* Merci mon ami two-column lyrics */

.mma-row {
  display: flex;
}

.mma-column {
  flex: 50%;
}

h3 {
  font-style: italic;
}



/* Sadie Rose Gallery styles */

.sadie-row {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-top: 30px;
  background-color: black;
}

.sadie-column {
  flex: 50%;
  padding: 0 4px;
}

.sadie-column img {
  margin-top: 4px;
  margin-bottom: 4px;
  vertical-align: middle;
  width: 100%;
}

/* Create four equal columns that sits next to each other */

@media screen and (min-width:481px) {
  .sadie-row {
    flex-direction: row;
  }

  .sadie-column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
}

