/* Override header and page settings from main */

header a.icon {
  color: #E3E3E3;
  background: #333a4f;
}

a {
  color: #26273d;
}

a:hover {
  color: #333a4f;
}

header {
  background: #333a4f;
}

.nav-menu li a {
  color: #E3E3E3;
  text-decoration: none;
}

.nav-menu a:hover{
  color: #af8d6c;
}

.about-track ol {
  text-align: left;
}

/* Add custom button styles */

.back-button {
  color: #edebeb;
  background-color: #a5785e;
  text-decoration: none;
  font-size: 17px;
}

.back-button:hover {
  color: #edebeb;
  background-color: #ae9473;
}

