/* Override header and page settings from main */

header a.icon {
  color: black;
  background: #813a17;
}

a {
  color: #722b18;
}

a:hover {
  color: #813a17;
}

header {
  background-color: #813a17;
}

.nav-menu li a {
  color: black;
  text-decoration: none;
}

.nav-menu a:hover{
  color: #E3E3E3;
}

/* Add custom button styles */


.back-button {
  color: #edebeb;
  font-size: 17px;
  text-decoration: none;
  background-color: #703704;
}

.back-button:hover {
  background-color: #9e490c;
  color: #edebeb;
}

@media screen and (max-width: 860px) {
  .nav-menu li a {
    color: rgb(149, 149, 149);
  }
}

